<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flag Part 2</title>
    <link rel="stylesheet" href="../static/styles/flag_part2.css" />
  </head>
  <body>
    <h1>Retrieve Flag Part 2</h1>
    <h2>Decode the Binary Puzzle</h2>
    <div id="binary-puzzle">
    </div>
    <button id="submit-btn">Submit</button>

    <div id="alert-box">
      <p id="alert-message"></p>
      <button id="close-alert">Close</button>
    </div>
    <script src="../static/scripts/flag_part2.js"></script>
  </body>
</html>
