<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Security Cameras</title>
    <link rel="stylesheet" href="../static/styles/security_cameras.css" />
  </head>
  <body>
    <h1>Bank Security Monitoring System</h1>
    <div id="camera-grid">
      <div class="camera" id="camera-1">
        <h2>Camera 1</h2>
        <img src="../static/images/cam1.png" alt="Camera 1 Feed" />
        <a href="../static/images/cam1.png" download="Camera1_Feed.png">
          <button>Download</button>
        </a>
      </div>
      <div class="camera" id="camera-2">
        <h2>Camera 2</h2>
        <img
          src="../static/images/cam2_route_to_[flag_part2].png"
          alt="Camera 2 Feed"
        />
        <a
          href="../static/images/cam2_route_to_[flag_part2].png"
          download="cam2_route_to_[flag_part2].png"
        >
          <button>Download</button>
        </a>
        <!--Solve this equation to find the route to the next challenge:
        333333x - 777777777777 = 111111 -->

        <input
          type="text"
          id="equation-answer"
          placeholder="Solve for X (Clue for later)"
        />
        <button id="solve-equation-btn">Submit</button>
      </div>

      <div class="camera" id="camera-3">
        <h2>Camera 3</h2>
        <img src="../static/images/cam3.jpg" alt="Camera 3 Feed" />
        <a href="../static/images/cam3.jpg" download="Camera3_Feed.jpg">
          <button>Download</button>
        </a>
      </div>
      <div class="camera" id="camera-4">
        <h2>Camera 4</h2>
        <img src="../static/images/cam4.jpg" alt="Camera 4 Feed" />
        <a href="../static/images/cam4.jpg" download="Camera4_Feed.jpg">
          <button>Download</button>
        </a>
        <strong><br /><br />password/paraphrase : "CameraHacked"</strong>
      </div>
    </div>
    <script src="../static/scripts/security_cameras.js"></script>
  </body>
</html>
